.self-order-button {
    position: relative;
    opacity: var(--button-opacity, 1);
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    z-index: 10;
}

.self-order-button__icon {
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.self-order-button__img {
    width: var(--button-icon-width, 90%);
    height: var(--button-icon-height, 90%);
    object-fit: cover;
    display: block;
}

.self-order-button__label {
    width: var(--button-width, 210px);
    height: var(--button-height, 80px);
    padding: 0 0 0 56px;
    border-radius: 14px;
    background: var(--button-bg, #d9d9d9);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 1;
    border: solid 5px #EDFFFD;
    border-radius: 20px;
}